<%= form_with(model: friend, class: "form-horizontal") do |form| %>
  <% if friend.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(friend.errors.count, "error") %> prohibited this friend from being saved:</h4>
      <ul>
        <% friend.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group mb-4">
    <%= form.text_field :first_name, class: "form-control", placeholder: "First name" %>
  </div>

  <div class="form-group mb-4">
    <%= form.text_field :last_name, class: "form-control", placeholder: "Last name" %>
  </div>

  <div class="form-group mb-4">
    <%= form.text_field :email, class: "form-control", placeholder: "Email address" %>
  </div>

  <div class="form-group mb-4">
    <%= form.text_field :phone, class: "form-control", placeholder: "Phone number" %>
  </div>

  <div class="form-group mb-4">
    <%= form.text_field :twitter, class: "form-control", placeholder: "Twitter" %>
  </div>

  <div class="form-group mb-4">
    <%= form.number_field :user_id, id: :friend_user_id, class:"form-control", value: current_user.id, type: :hidden %>
  </div>

  <div class="form-group mb-4">
    <%= form.submit "Save", class: "btn btn-secondary" %>
  </div>
<% end %>
